:root {
	--primary-font: 'Arial', sans-serif;
	--secondary-font: 'Times', serif;
	--accent-color: #2511a1;
	--text-color: #000;
	--text-color-secondary: #8b6c38;
	color: var(--text-color);
	font-family: var(--primary-font);
	cursor: default;
	font-size: calc(0.5em + 1vw);
	letter-spacing: 0.0025em;
}

::selection {
	background: var(--accent-color);
	color: #fff;
}

html {
	line-height: 1.2em;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html,
body,
ul {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	height: 100vh;
	width: 98vw;
	margin: 0 auto;
}

/* loading screen styling */
#overlayer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 120px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 98;
	background: rgba(255, 255, 255, 0.95);
	filter: blur(12px);
}

.preloader {
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preloader pre {
text-transform: uppercase;
font-family: var(--secondary-font);
	text-align: center;
	padding: 2px 1rem;
	border: 1px solid black;
	border-radius: 100%;
}

/* RUPALI INTRO TEXT */

header {
	position: relative;
	top: 1rem;
	display: grid;
	grid-template-columns: 1fr 4fr 0.5fr;
}

header div {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
}

.rupali-home a {
	text-decoration: none;
	border: 0;
	background-color: rgb(255, 255, 255, 0);
	position: fixed;
	font-size: inherit;
	color: var(--text-color);
	vertical-align: baseline;
	z-index: 20;
}

header a:hover {
	text-decoration: underline;
	cursor: pointer;
}

header p {
	margin-top: 0;
}

header p a {
	color: var(--text-color-secondary);
	display: inline;
	text-decoration: none;
}

header p a:nth-child(2),
header p a:nth-child(3) {
	color: var(--accent-color);
}

/* BASIC PAGE LAYOUT */
.portfolio {
	padding: 4rem 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(10, auto);
	width: 100%;
	grid-row-gap: 4rem;
	/* grid-column-gap: 3rem; */
}

.portfolio > article {
	display: flex;
	flex-direction: column;
}

.portfolio > article p:first-of-type {
	margin: 0.625em auto 0 auto;
	width: max-content;
	text-transform: uppercase;
}

.portfolio > article p {
	font-size: 0.5em;
	font-family: serif;
	line-height: 1.25em;
	margin: 0;
	padding: 0 0.25rem;
}

.mobile--only {
	display: none;
}

/* LINK STYLING */

.portfolio .link--inline {
	color: var(--accent-color);
	display: inline;
	text-decoration: none;
}

.portfolio .link--inline:hover::after {
	content: ' ↗';
	color: var(--accent-color);
	cursor: pointer;
}

.portfolio .link--inline + .link--inline::before {
	content: ' | ';
	color: var(--text-color);
}

/* SPECIFIC PROJECT STYLING */

.rekha {
	grid-column: 2;
	grid-row: 1;
	height: 100%;
	width: 100%;
	align-items: center;
	align-content: flex-start;
}

.rekha__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(4vw);
}

.rekha__text {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.rekha img {
	width: 66%;
	height: auto;
}

.bumptv {
	grid-column: 1;
	grid-row: 1;
	width: 110%;
	align-items: center;
	justify-content: end;
}

.bumptv .bumptv__wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bumptv .bumptv__wrapper p {
	text-align: center;
}

.bumptv .bumptv__wrapper img {
	width: 100%;
}

.how-we-cared {
	grid-row: 2;
	grid-column: 1 / 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}

.how-we-cared img {
	width: 100%;
	height: auto;
}

.how-we-cared p {
	text-align: center;
}

.how-we-cared .carousel__nav {
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
}

.how-we-cared .carousel__nav:active {
	transform: scale(1.1);
}

.how-we-cared .carousel__nav.carousel1--btn-prv {
	top: 0;
	left: 0;
}

.how-we-cared .carousel__nav.carousel1--btn-prv:hover {
	cursor: w-resize;
}

.how-we-cared .carousel__nav.carousel1--btn-nxt {
	top: 0;
	right: 0;
}

.how-we-cared .carousel__nav.carousel1--btn-nxt:hover {
	cursor: e-resize;
}

.how-we-cared .link--button-active {
	margin-right: 2px;
}

.takpham {
	width: 100%;
	grid-row: 3;
	grid-column: 1;
	justify-content: end;
	align-items: center;
}

.takpham img {
	width: 100%;
	height: auto;
}

.takpham > p {
	text-align: center;
}

.reassemblage {
	grid-row: 5;
	grid-column: 1;
	justify-content: flex-end;
}

.reassemblage img {
	width: 100%;
	height: auto;
}

.reassemblage > p {
	text-align: center;
}

.ifetid {
	grid-row: 4;
	grid-column: 3;
	justify-content: flex-end;
}

.ifetid__wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ifetid img {
	width: 68%;
	height: auto;
}

.ifetid__wrapper > p {
	text-align: center;
	width: 84%;
}

.volume-i {
	grid-row: 7;
	grid-column: 1;
	justify-content: flex-end;
}

.volume-i img {
	width: 100%;
	height: auto;
}

.volume-i > p {
	text-align: center;
}

.foreign-film {
	grid-row: 7;
	grid-column: 3;
	justify-content: flex-end;
}

.foreign-film img {
	width: 100%;
	height: auto;
}

.foreign-film > p {
	text-align: center;
}

.stones-throw {
	grid-row: 7;
	grid-column: 2;
	justify-content: flex-end;
}

.stones-throw img {
	width: 100%;
	height: auto;
}

.stones-throw > p {
	text-align: center;
}

.drank-recruited {
	grid-row: 8;
	grid-column: 2;
	justify-content: flex-end;
}

.drank-recruited img {
	width: 100%;
	height: auto;
}

.drank-recruited > p {
	text-align: center;
}

.richie-shazam {
	grid-row: 3;
	grid-column: 2 / 4;
	justify-content: flex-end;
}

.richie-shazam__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.richie-shazam--visuals {
	overflow: hidden;
	width: 80%;
	height: auto;
}

.richie-shazam--text {
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: center;
	text-align: center;
}

.richie-shazam--visuals video,
.richie-shazam--visuals img {
	width: 100%;
	height: auto;
	margin-bottom: -8px;
	margin-top: -1rem;
}

.imagining-futures {
	grid-row: 4;
	grid-column: 1;
	justify-content: end;
}

.imagining-futures video,
.imagining-futures img,
.imagining-futures p {
	width: 100%;
}

.imagining-futures p {
	text-align: center;
}

.artworkers {
	grid-row: 1;
	grid-column: 3;
	justify-content: end;
}

.artworkers .artworkers__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.artworkers img {
	width: 60%;
	height: auto;
	margin-bottom: 0.25rem;
}

.artworkers__text {
	width: 85%;
}

.artworkers p {
	text-align: center;
}

.nang {
	grid-row: 8;
	grid-column: 3;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
}

.nang img {
	width: 100%;
	height: auto;
}

.nang > p {
	text-align: center;
	width: 90%;
}

.aor {
	grid-row: 10;
	grid-column: 1;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
}

.aor__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aor img {
	height: auto;
	width: 100%;
}

.aor__text {
	text-align: center;
}

.sanghumfilm {
	grid-row: 10;
	grid-column: 2;
	justify-content: flex-end;
	align-items: center;
}

.sanghumfilm img {
	width: 80%;
	height: auto;
}

.sanghumfilm > p {
	text-align: center;
	width: 75%;
}

.before-law {
	grid-row: 10;
	grid-column: 3;
	justify-content: flex-end;
	align-items: center;
}

.before-law img {
	width: 100%;
	height: auto;
}

.before-law > p {
	text-align: center;
}

.dripdrop {
	grid-row: 4;
	grid-column: 2;
	align-content: flex-end;
	justify-content: flex-end;
}

.dripdrop__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.dripdrop video,
.dripdrop img {
	height: auto;
	width: 76%;
}

.dripdrop__text {
	text-align: center;
}

.both-instrument-sound {
	grid-row: 8;
	grid-column: 1;
	align-content: flex-end;
	justify-content: flex-end;
	transform: translateX(-1rem);
}

.both__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.both-instrument-sound img {
	height: auto;
	width: 100%;
}

.both__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.property-journal {
	grid-row: 9;
	grid-column: 1/4;
	align-content: flex-end;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.property-journal img {
	height: auto;
	width: 100%;
}

.property-journal > p {
	text-align: center;
	width: 88%;
}

/* .property-2 {
	grid-row: 10;
	grid-column: 1 / 4;
	align-content: flex-end;
	justify-content: flex-end;
}

.property-2 img {
	width: 100%;
	height: auto;
} */

.r29style {
	grid-row: 5;
	grid-column: 2 / 4;
	align-items: center;
	justify-content: flex-end;
}

.r29style__wrapper {
	height: auto;
	width: 84%;
	margin-left: 1rem;
}

.r29style__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.r29style img {
	height: auto;
	width: 100%;
}

.bds-wix {
	grid-column: 1/4;
	grid-row: 6;
	width: 100%;
	align-items: center;
	justify-content: end;
}

.bds-wix__wrapper {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bds-wix__text {
	text-align: center;
}

.bds-wix img {
	width: 100%;
}

/* FOOTER STYLING */
footer div.white-space {
	height: 3em;
}

@media (max-width: 1024px) {
	body main {
		font-size: 24px;
	}
}

@media (max-width: 780px) {
	header {
		grid-template-columns: 1fr 3fr;
	}

	header div {
		justify-content: flex-start;
	}

	header p {
		grid-column: 2 / 3;
		text-align: justify;
		padding: 0 0.75rem 0 0.25rem;
	}

	main.portfolio {
		padding: 4rem 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(10, auto);
		width: 100%;
		grid-row-gap: 4rem;
		font-size: 24px;
	}

	main.portfolio > article {
		grid-column: 1;
		width: 100%;
	}

	main.portfolio > article:not(:last-of-type)::after {
		content: ' ';
		width: 100%;
		border-bottom: 1px dashed var(--accent-color);
		transform: translateY(2rem);
		font-size: 12px;
		font-family: 'Courier New', Courier, monospace;
	}

	.rekha {
		grid-row: 2;
	}

	.rekha__wrapper {
		transform: translateX(0);
	}
	.artworkers {
		grid-row: 3;
	}

	.artworkers__text {
		width: 100%;
	}
	.how-we-cared {
		grid-row: 4;
	}
	.takpham {
		grid-row: 5;
	}
	.richie-shazam {
		grid-row: 6;
	}

	.richie-shazam--visuals,
	.richie-shazam--text {
		width: 100%;
	}

	.imagining-futures {
		grid-row: 7;
	}
	.dripdrop {
		grid-row: 8;
	}
	.ifetid {
		grid-row: 9;
	}
	.ifetid__wrapper > p {
		width: 100%;
	}
	.reassemblage {
		grid-row: 10;
	}
	.r29style {
		grid-row: 11;
	}
	.r29style__wrapper {
		width: 100%;
		margin: 0;
	}
	.bds-wix {
		grid-row: 12;
	}
	.bds-wix__wrapper {
		width: 100%;
	}
	.volume-i {
		grid-row: 13;
	}
	.stones-throw {
		grid-row: 14;
	}
	.foreign-film {
		grid-row: 15;
	}
	.both-instrument-sound {
		grid-row: 16;
		transform: translateX(0);
	}

	.drank-recruited {
		grid-row: 17;
	}
	.nang {
		grid-row: 18;
	}

	.nang > p {
		width: 100%;
	}
	.property-journal {
		grid-row: 19;
	}
	.mobile--only {
		display: block;
	}
	.mobile--only + img,
	.mobile--only + video {
		display: none;
	}

	.property-journal > p {
		width: 100%;
	}

	.aor {
		grid-row: 20;
	}
	.sanghumfilm {
		grid-row: 21;
	}
	.sanghumfilm > p {
		width: 100%;
	}
	.before-law {
		grid-row: 22;
	}
}
